/* .text-body {
    color: black;
  } */

.messages {
  font-size: 30px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 200px;
  text-align: center;
  padding: 170px 0;
}
